<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(172, 207, 207) !important;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family: cursive;font-size: 30px;" href="/dashboard">IT Professionals</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-outline-success" style="background-color: black;" (click)="onHomeClick()">Users</button>
            <!-- <a class="nav-link active"  [ngClass]="homeclassstyle" aria-current="page" (click)="onHomeClick()">Users</a> -->
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-success" style="background-color: black;" (click)="onOpeningClick()">Openings</button>
            <!-- <a class="nav-link active " [ngClass]="openingclassstyle"  aria-current="page" (click)="onOpeningClick()">Openings</a> -->
          </li>
           
        </ul>
        <form class="d-flex">
          <a class="nav-link active "   aria-current="page" routerLink="/addopening" >Add Openings</a>
          <button class="btn btn-outline-success" style="background-color: black;" routerLink="/register">Signup</button>
     
          <button class="btn btn-outline-success" style="background-color: black;" (click)="signOut()">Signout</button>
        </form>
      </div>
    </div>
  </nav>