<div class="p-fluid" style="margin-left: 10px;margin-right: 10px;">
    <div class="p-field">
        <label for="firstname1">Name</label>
        <input id="firstname1" [(ngModel)]="name" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="firstname1">Password</label>
        <input id="firstname1" [(ngModel)]="password" type="password" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Technology</label>
        <input id="lastname1" [(ngModel)]="technology" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Email</label>
        <input id="lastname1"  [(ngModel)]="email" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Experience</label>
        <input id="lastname1" [(ngModel)]="experience" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Company</label>
        <input id="lastname1" [(ngModel)]="company" type="text" pInputText> 
    </div>
    <button type="button" pButton label="Register" (click)="registerUser()" style="width: 100px;margin-top: 10px;" ></button> 
</div>
